
.product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.product-img {
  width: 100%;
  height: 300px;
  margin-bottom: 2rem;
}
.product-img img {
  border-radius: 1rem;
  object-fit: cover;
}
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.product-name {
  color: var(--black-1);
  font-family: "poppins" sans-serif;
  font-size: 1.8rem;
}
.product-desc {
  font-size: 1.4rem;
  font-family: "raleway" sans-serif;
}
.product-price {
  font-size: 1.4rem;
  color: var(--blue-2);
  font-weight: 700;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--blue-2);
  width: max-content;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1.2rem;
}

.quantity button {
  width: 30px;
  height: 30px;
  background-color: var(--blue-2);
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

.quantity button:hover {
  transform: scale(1.05);
}

#total {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "raleway";
}

.quantity button svg {
  width: 20px;
  height: 20px;
  color: var(--white-1);
}

.sizes-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sizes-btn button {
  padding: 0.4rem 0.7rem;
  border: var(--blue-2) 1px solid;
  border-radius: 0.5rem;
  background-color: var(--blue-1);
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.sizes-btn button:hover {
  background-color: var(--blue-2);
  color: var(--white-1);
}
.product-buttons {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  bottom: 20px;
  z-index: 10;
  margin-bottom: 2rem;
}

.product-buttons.show {
  transform: translate(-50%, 0);
  opacity: 1;
}

.product-buttons button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 0.6rem;
  transition: 0.2s ease-in;
  font-size: 1.4rem;
  border: 2px solid var(--blue-2);
  border-radius: 0.8rem;
  color: var(--blue-2);
  background: var(--blue-1);
  transition: 0.2s ease-in-out;
}

.product-buttons #addToCart {
  flex: 4;
  background: var(--blue-2);
  color: var(--white-1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.product-buttons #addToCart svg {
  color: var(--white-1);
}

.product-buttons button svg {
  color: var(--blue-2);
}

.desc-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.desc-item-desc{
    font-size: 1.4rem;
}
.desc-title{
    font-size: 1.6rem;
}

.product-buttons button:hover{
    transform: scale(1.05);
}

.ingr-title{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.render-title{
    font-size: 1.8rem;
    text-align: center;

}

@media only screen and (min-width: 768px)
{
    .product-wrapper{
        flex-direction: row;
        gap: 2rem;
    }

    .product-info{
        flex: 4;
        max-width: 600px;
        margin-top: 2rem;
    }
     .product-img{
        flex: 3;
        height: 400px;
     }

     .product-price{
        margin-bottom: 1rem;
     }
}